body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Muli", Helvetica, Arial;
    background-color: white;
}

html {
    box-sizing: border-box;
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}