.layers {
    background: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 1;
    width: 120px;
}

.layers a {
    font-size: 14px;
    font-weight: 600;
    background: white;
    border-radius: 1rem;
    display: block;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
    border: .1rem solid #36469d;
    transition: .2s ease-in-out;
    color: #36469d;
}

.layers a:hover {
    background-color: #36469d;
    color: #fff;
    border: none;
}

.layers a.active {
    background-color: #ef4823;
    color: #fff;
    border: none;
}

.layers a.active:hover {
    background: #36469d;
    border: none;
}