.counts-map-overlay {
    width: 96rem;
    display: block;
    position: absolute;
    width: 100%;
    bottom: 10px;
    color: white;
    border: 0;
    left: 100px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

.counts-map-overlay .data__wrapper {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 3rem;
    width: 96rem;
}

.counts-map-overlay .data__set {
    padding: 0;
    margin: 0;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.counts-map-overlay .data__number {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 1.5rem;
    line-height: 1;
}

.counts-map-overlay .data__label {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 1rem;
    line-height: 1;
    padding-bottom: 1rem;
}

.counts-map-overlay .data__subtitle {
    padding: 0;
    padding-left: 100px;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    white-space: nowrap;
}